<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
     <!-- Database connection settings -->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:mem:mydb</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="connection.pool_size">2</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup. So in StartupBean we will add test data -->
        <property name="hbm2ddl.auto">create</property>

		<!-- There is no hbms mapping files, but we still need to map the entity -->
        <mapping class="org.andriy.spring.entities.I18NMessage"/>
  </session-factory>
</hibernate-configuration>